<!DOCTYPE html>
<html>
<head >
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head >
<body>

<div align="center">
<h1 >login from</h1>
<form action="/validate" method="post" >
	
	<label style="color: pink;">Email:</label>
	<input type="email" name="email"/>
	<br/>
	<br>
	<label style="color: pink;">PassWord:</label>
	<input type="password" name="password"/>
	<br/>
	<br>
	<input style="color: pink;"  type="submit" value="LOGIN"/>
	</form>
	</div>
</body>
</html>